.App {
  text-align: center;
}

.App-logo {
    position: relative;
    width: 512px;
    height: 512px;
    background-image: url("./dust2_minimap.jpg");
    background-size: 512px;
 }

.gif {
  width: 250px;
  height: 250px;
}

.testimg{
    background: red;
    background-position-x: 261px;
    background-position-y: 206px;
}
.locColorstart{
  background-color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
